GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
ALLOWED_EMAIL_DOMAINS=
ANDROID_MDPI_FOLDER_URL=
ANDROID_HDPI_FOLDER_URL=
ANDROID_XHDPI_FOLDER_URL=
ANDROID_XXHDPI_FOLDER_URL=
ANDROID_XXXHDPI_FOLDER_URL=
IOS_FOLDER_URL=
WEB_FOLDER_URL=
